.container{
  width:400px;
  height:280px;
  position: relative;
}

.card{
  text-align:center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
}
.face.front{
	background:#666;
}

.face.back {
  display: block;
  box-sizing: border-box;
  padding: 20px;
  color: white;
  text-align: left;
  background-color: #333;
}

.container{
  perspective: 800px;
}
.card{
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
.card:hover {
  transform: rotateY(180deg);
}
.face {
  backface-visibility: hidden;
}

.face.back {
  transform: rotateY(180deg);
}
